DB_USER=username
DB_PASSWORD=password
SECRET_KEY=your-secret-key
DATABASE_URL="postgresql://user:password@localhost:5432/name_db?schema=public"

PORT=3000

COOKIE_SECRET=your_cookie_secret
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
